@import "../../scss/main.scss";

#contact .container-fluid {
  padding: 0px 20%;
  @media (max-width: 992px) {
    padding: 0;
  }
  .controls {
    label {
      color: white;
      font-size: 18px;
    }
    .g-recaptcha {
      border: none;
      &.error {
        border: 2px solid red;
        border-radius: 5px;
      }
    }
    .form-control {
      background: $primary-color !important;
      border: none;
      color: white;
    }
    .btn-contact-submit {
      background: $primary-color;
      color: $cyan;
      border: 2px solid $cyan;
      &:hover {
        background: $cyan;
        color: $primary-color;
      }
      &:disabled {
        border: 2px solid grey;
        color: grey;
      }
    }
    .get-back {
      color: $cyan;
      i {
        padding-right: 10px;
      }
    }
    .find-me {
      @media (min-width: 992px) {
        display: flex;
      }
      margin-top: 25px;
      font-size: 13px;
      justify-content: space-between;
      div {
        padding-bottom: 8px;
        a {
          text-decoration: none;
          color: gray;
          font-weight: bold;
          i {
            padding-right: 10px;
          }
          &:hover {
            color: $cyan;
            text-decoration: none;
          }
        }
      }
    }
  }
}
