@import "../../scss/main.scss";

@keyframes slidein {
  from {
    right: -75px;
  }
  to {
    right: 0;
  }
}

#sideNav {
  z-index: 1 !important;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 6rem;
  height: 100vh;
  @media (max-width: 992px) {
    flex-direction: row;
    height: 54px;
    width: unset;
  }
  &.bg-primary {
    background-color: $primary-color !important;
  }
  .navbar-mobile-menu {
    display: none;
    @media (max-width: 992px) {
      display: block;
    }
    border: none;
    background: transparent !important;
    .icon-bar {
      transition: all 0.2s;
      border: 1.5px solid $cyan;
      display: block;
      width: 22px;
      height: 2px;
      border-radius: 1px;
      margin-top: 3px;
    }
    &:hover {
      background: transparent !important;
    }
    .top-bar {
      transform: rotate(45deg);
      transform-origin: 10% 10%;
    }
    .middle-bar {
      opacity: 0;
    }
    .bottom-bar {
      transform: rotate(-45deg);
      transform-origin: 10% 90%;
    }
    &.collapsed {
      .icon-bar {
        margin-top:5px;
      }
      .top-bar {
        transform: rotate(0);
      }
      .middle-bar {
        opacity: 1;
      }
      .bottom-bar {
        transform: rotate(0);
      }
    }
  }

  .mobile-menu {
    display: none;
    position: absolute;
    width: 75px;
    top: 54px;
    right: 0px;
    height: 100vh;
    background: $primary-color;
    animation: slidein 0.2s linear;
    @media (max-width: 992px) {
      display: block;
    }
    .nav-item {
      padding: 20px;
      .main-links {
        i {
          font-size: 25px;
        }
      }
      .menu-text {
        display: none;
      }
    }
  }
  .navbar-collapse {
    display: flex;
    align-items: flex-start;
    flex-grow: 0;
    width: 100%;
    margin-top: 13px;
    margin-bottom: auto;
    .navbar-nav {
      flex-direction: column;
      width: 100%;
      display: none;
      @media (min-width: 992px) {
        display: block;
      }
      .nav-item {
        display: block;
        .main-links {
          i {
            font-size: 25px;
            padding: 20px;
          }
          .menu-text {
            display: none;
          }
          .nav-link {
            font-weight: 800;
            letter-spacing: 0.05rem;
            text-transform: uppercase;
          }
        }
      }
    }
  }
  .navbar-brand {
    display: flex;
    margin: 2rem auto auto;
    padding: 0.5rem;
    padding: 3px;
    border: 2px solid $cyan;
    @media (max-width: 992px) {
      margin: 0;
    }
    .img-profile {
      max-width: 10rem;
      max-height: 10rem;
    }
    .logo {
      a {
        padding: 5px;
        font-size: 27px;
        color: $cyan !important;
      }
    }
  }
}
