.me {
  .Hi {
    font-size: 35px;
    @media (max-width: 992px) {
      font-size: 30px;
    }
  }
  .about-me {
    padding: 0 10em;
    @media (max-width: 992px) {
      padding: 0px;
    }
  }
  .profile-img {
    img {
      width: 200px;
      border-radius: 50%;
      display: block;
      margin: auto;
    }
    .About-me {
      padding: 0px 7em;
      @media (max-width: 992px) {
        padding: 0
      }
    }
  }
}
