.me {
  .Hi {
    font-size: 35px;
  }
  .about-me {
    padding: 0 10em;
  }
  .profile-img {
    img {
      width: 200px;
      border-radius: 50%;
      display: block;
      margin: auto;
    }
    .About-me {
      padding: 0px 7em;
    }
  }
}
