@import '../../scss/main.scss';

.row {
  .Name {
    color: white;
    font-weight: bold;
    background: #262626;
    padding: 4px;
    margin-bottom: 20px;
  }
  .progressBar {
    height: 33px;
    margin-bottom: 20px;
    background: #868e96;
    padding: 0px;
    .progress-bar {
      background: $cyan !important;
    }
  }
}
