.resume-section{
  min-height: 100vh;
}
.bg-black {
  background: #3c3c3c;
}
.background-image {
  &::before {
    content: "";
    background-image: url("assets/circle-bg.webp");
    background-size: cover;
    opacity: 0.1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    transition: opacity 0.5s ease-in-out;
  }
  &.no-background::before {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
}

.content {
  position: relative;
  background: transparent;
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}