@import "./scss/main.scss";

body {
  font-size: 1.1rem;
  margin: 0;
  padding: 0;
  padding-top: 54px;
  color: $gray01;
  @media (min-width: 992px) {
    padding-top: 0;
    padding-left: 6rem;
  }
}
